<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="repository.mybatis.mapper.TaskMapper">
	<cache />
	<sql id="TaskBaseColumns">
		user_id AS userId,
		task_id AS taskId,
		task_order AS "order",
		description AS description,
		isCompleted AS isCompleted
	</sql>
	
	<insert id="addTask" parameterType="Task">
		INSERT INTO TASK (user_id, task_id, task_order, description, isCompleted)
		VALUES (#{userId}, SEQUENCE_TASKID.NEXTVAL, #{order}, #{description}, #{isCompleted})
	</insert>
	
	<update id="updateTask" parameterType="Task">
		UPDATE Task 
		SET task_order = #{order}, description = #{description}, isCompleted = #{isCompleted}
		WHERE task_id = #{taskId}
	</update>
 
	<delete id="deleteTask" parameterType="int">
		DELETE FROM Task
		WHERE task_id = #{taskId}
	</delete>
	
	<!-- Task ID로 read -->
	<select id="getTaskById" parameterType="int" resultType="Task">
		SELECT <include refid="TaskBaseColumns" />
		FROM Task
		WHERE task_id = #{taskId}
	</select>
	
	<!-- 모든 Task read : 필요한가 여쭙기-->
	<select id="getAllTasks" resultType="Task">
		SELECT <include refid="TaskBaseColumns" />
		FROM Task
		ORDER BY task_id
	</select>
	
	<!-- 특정 유저가 가진 Task 목록 조회 : 새로 추가한 sql문-->
	<select id="getTasksByUserId" parameterType="int" resultType="Task">
		SELECT <include refid="TaskBaseColumns" />
		FROM Task
		WHERE user_id = #{userId}
		ORDER BY task_order
	</select>
	
</mapper>